future
emoji
lxml
pathlib
beautifulsoup4
requests
sqlalchemy==1.3.20
python-telegram-bot==12.8
psycopg2-binary
feedparser
pynewtonmath
spongemock
zalgo-text
google_trans_new
geopy
nltk
psutil
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
jikanpy
speedtest-cli
coffeehouse
regex
bleach
git+https://github.com/starry69/python-markdown2.git
wikipedia
telethon
spamwatch
alphabet_detector
pyrate-limiter
cachetools
fontTools
nekos.py
youtube_dl
youtube_search
pytube
youtube-search-python
pyrogram>=1.0.7
tgCrypto>=1.2.2
